@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoBold";
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "RobotoLight";
  src: url(fonts/Roboto-LightItalic.ttf);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue-color: #1f2937;
  --light-gray-color: #e5e7eb;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

.container {
  width: 90rem;
  height: 100%;
  margin: 0 auto;
}

.full-bleed-dark {
  box-shadow: 0 0 0 100vmax var(--dark-blue-color);
  clip-path: inset(0 -100vmax);
}

.full-bleed-light {
  box-shadow: 0 0 0 100vmax var(--light-gray-color);
  clip-path: inset(0 -100vmax);
}
/*  header*/

header {
  width: 100%;
  font-family: "Roboto", "sans-serif";
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  font-size: 2.4rem;
  color: #f9faf8;
}

.navbar {
  display: flex;
  justify-content: space-around;
  color: #e5e7eb;
  font-size: 1.8rem;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 6rem;
}

.navbar a {
  text-decoration: none;
  color: var(--light-gray-color);
}

/*  end of header*/

/*  main */

main {
  font-family: "Roboto", "sans-serif";
}

/***** section 1 *****/
.headBody {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", "sans-serif";
  background-color: #1f2937;
  padding: 50px 0;
  gap: 3rem;
}

.part1Body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headBodyHeader {
  font-size: 4.8rem;
  color: #f9faf8;
  font-family: "RobotoBold", "sans-serif";
}

.pBody {
  font-size: 1.8rem;
  color: #e5e7eb;
  margin: 2rem 0;
}

.signUp {
  background-color: #3882f6;
  border-radius: 0.5rem;
  color: #e5e7eb;
  padding: 1.2rem 3rem;
  border: none;
  font-size: 1.8rem;
}

.imgBody {
  width: 45rem;
  height: auto;
}

/************** section 2 **************/
.cardsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.bodytext {
  text-align: center;
  font-size: 3.6rem;
  color: #1f2937;
  font-weight: bolder;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.card {
  width: 10rem;
  height: 15rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
}

.cardImg {
  width: 10rem;
  height: 15rem;
  border-radius: 10px;
}

figcaption {
  font-family: "Roboto", "sans-serif";
  text-align: center;
  color: #1f2937;
  font-size: 1.3rem;
}

/*************Section 3 *************/

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  background-color: #e5e7eb;
  padding: 7rem 3rem;
}

.quoteText {
  font-family: "RobotoLight", "sans-serif";
  font-size: 3.6rem;
  color: #1f2937;
  text-align: center;
}

.writer {
  text-align: end;
  font-size: 2rem;
  margin-top: 2rem;
}

/*************Section 4 *************/

.action {
  margin-top: 5rem;
  text-align: center;
  width: 100%;
  height: 10rem;
  display: flex;
  background-color: #3882f6;
  justify-content: space-around;
  border-radius: 8px;
  align-items: center;
  color: #e5e7eb;
}

.part1action {
  padding: 20px;
  font-size: 1.8rem;
}

.signUp2 {
  background-color: #e5e7eb;
  border-radius: 5px;
  border: none;
  color: #3882f6;
  padding: 1rem 2rem;
  cursor: pointer;
}
/*end of main body*/

/* footer*/

.footer {
  margin-top: 30px;
  background-color: #1f2937;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: #f9faf8;
  text-align: center;
  font-size: 1.5rem;
}

/* aboutUs page*/
.headAbout {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.container-about {
  display: flex;
  justify-content: center;
  background-color: white;
}

.img {
  width: 100%;
  height: auto;
}

.about-us {
  padding-top: 100px;
  font-family: "RobotoBold", "sans-serif";
}

.about {
  font-size: larger;
  font-family: "Roboto", "sans-serif";
  margin-right: 15px;
}

.aboutUsbody {
  background-color: rgb(243, 239, 239);
}

.footeraboutUs {
  background-color: #1f2937;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end of aboutUs page*/

@media (max-width: 768px) {
  .container {
    width: 60rem;
  }

  .logo {
    font-size: 1.8rem;
  }

  .navbar {
    font-size: 1.2rem;
  }

  .headBody {
    flex-direction: column;
    gap: 5rem;
    /* Reverse the order of items */
  }

  .part1Body {
    text-align: center;
  }

  .part2Body {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }

  .imgBody {
    width: 100%;
    height: auto;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 6rem;
  }

  .container-about {
    flex-direction: column;
  }

  .about {
    margin-top: 10px;
  }
}

@media (max-width: 490px) {
  .container {
    width: 35rem;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    text-align: center;
    font-size: 3.4rem;
    padding-bottom: 2rem;
  }

  .navbar {
    padding: 0 2rem;
    border: 1px solid #fffafa09;
    padding: 1rem;
  }

  .navbar ul {
    gap: 4.5rem;
  }

  .headBody {
    padding: 2rem 1rem;
  }

  .cardsSection {
    gap: 4rem;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .quote {
    height: 36rem;
    background-color: #e5e7eb;
    padding: 4rem 3rem;
  }
  .action {
    margin-top: 2rem;
    height: 16rem;
    flex-direction: column;
    justify-content: center;
  }
  .part1action {
    padding: 10px;
    font-size: 1.8rem;
  }
  .signUp2 {
    margin: 1rem;
    padding: 1.5rem 2.5rem;
  }
}
