* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --SI-background-color: #1f2937;
  --text-color-gray: #e5e7eb;
  --dark-blue-color: #1f2937;
  --light-gray-color: #e5e7eb;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}

/****** Header (needs to merge) *********/
.head {
  padding: 10px 10px 20px 10px;
}

/****** Footer (needs to merge) *********/
.footerText {
  font-family: 'Roboto';
  font-size: 14px;
}

/****** Sign In page *********/

.container {
  background-color: var(--SI-background-color);
  font-family: "Roboto";
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.login-info-wrapper {
  width: 100%;
  color: var(--text-color-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.head-sign-content h1 {
  font-size: 4.8rem;
}

.head-sign-content p {
  font-size: 1.8rem;
  text-align: center;
}

.sign-text {
  font-size: 2.4rem;
  font-weight: 500;
}

.input-wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.input-wrapper input {
  height: 4.8rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #e5e7eb;
}

.input-wrapper button {
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #3882f6;
  color: var(--text-color-gray);
}

.redirect-link {
  font-size: 1.8rem;
  margin-top: 3.6rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color-gray);
}

.bookcase-signIn-image {
  background-image: url(/assets/bookcase-signin.png);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.bookcase-signUp-image {
  background-image: url(/assets/bookcase-signup.png);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

/* media query */

@media (max-width: 768px) {
  .bookcase-signIn-image {
    display: none;
  }
  .bookcase-signUp-image {
    display: none;
  }
}

/********************* Contact Page ******************************/

.contact-page {
  display: flex;
  flex-direction: column;
}
.contact-page main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-contact {
  display: flex;
  justify-content: space-around;
  color: #e5e7eb;
  font-size: 18px;
  align-items: center;
}

.navbar-contact ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

.navbar-contact a {
  text-decoration: none;
  color: var(--text-color-gray);
}

.container-contact {
  width: 350px;
  color: var(--dark-blue-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  gap: 20px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container-contact h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.container-contact p {
  font-size: 18px;
}
.contact-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.contact-input-wrapper input {
  height: 48px;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--light-gray-color);
}

.contact-input-wrapper button {
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: #3882f6;
  color: var(--light-gray-color);
}

textarea {
  background-color: var(--light-gray-color);
  border: none;
  border-radius: 8px;
  padding: 10px;
}

/* footer*/

.footer {
  margin-top: 30px;
  background-color: #1f2937;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: #f9faf8;
  text-align: center;
}
